
    <div class="span3">
         <div class="well">
            <ul class="nav nav-list">
                <li class="nav-header">Nos produits</li>
                {{   render (controller('AppBundle:Categorie:menu')) }}
            </ul>
        </div>
    </div>
