{% trans_default_domain 'FOSUserBundle' %}

<div class="row">

    {% include 'Module_include/userConnect.html.twig' %}

    <div class="span9">
        <h2>Mot de passe</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">

                <div class="span4">
                    <h4>Modifier mon mot de passe</h4>
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <inputclass="btn btn-primary"  type="submit" value="{{ 'change_password.submit'|trans }}" />
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
</div>

